Source: fgdiag-disktest-verification-udeb
Section: ubuntu/utils
Priority: extra
Maintainer: Ryan Niebur <ryan@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Vcs-Git: git://git.freegeek.org/git/fgdiag-disktest-verification-udeb
Vcs-Browser: http://git.freegeek.org/?p=fgdiag-disktest-verification-udeb;a=summary

Package: fgdiag-disktest-verification-udeb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
