Source: fgdiag-disktest-verification-udeb
Section: ubuntu/utils
Priority: extra
Maintainer: Ryan Niebur <ryan@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Vcs-Git: git://git.freegeek.org/git/fgdiag-disktest-verification-udeb
Vcs-Browser: http://git.freegeek.org/?p=fgdiag-disktest-verification-udeb;a=summary

Package: fgdiag-disktest-verification-udeb
XC-Package-Type: udeb
XB-Installer-Menu-Item: 4000
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Free Geek Diagnostics Verification
 This udeb runs as part of the installation process to verify that the
 installed hard drive has been wiped successfully.
